#main-navbar-wrapper {
	font-size: 1.5em;

	
}

#main-navbar-wrapper a {
	color: #0083FF;
}

#main-navbar-wrapper a:hover {
	color: green;
}

.navbar-brand {
	font-size: 1.5em;
}


#banner img {
	width: 100%;
	display: block;
	margin: auto;
}




.large-title {
	font-size: 4.5em;

}

.less-large-title {
	font-size: 3.7em;

}


.team-member-photo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

